* {
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-color: pink;
}

.registerForm,
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  padding: 10px 20px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.SignUpBtn,
.SendBtn,
.submitBtn,
.cancelBtn,
.createBtn,
.logout-button button,
.page-toggle button {
  text-align: center;
  width: 100px;
  padding: 12px;
  margin-right: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  color: #fffbf5;
  background-color: #ea5399;
}

.EspacesLogin,
.EspacesSign {
  display: flex;
  flex-direction: column;
}

.mainbody {
  display: flex;
  flex-direction: column;
}

.nav-panel {
  display: flex;
  background-color: #f96398;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  max-width: 15%;
  height: 75px;
  margin-right: 50px;
  align-content: center;
}

.search-bar {
  width: 70%;
  height: 75px;
  align-content: center;
}

.page-toggle {
  width: 10%;
  height: 75px;
  margin-right: 10px;
  align-content: center;
}

.logout-button {
  width: 10%;
  height: 75px;
  align-content: center;
}

.forum {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Information {
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: #f96398;
  padding: 10px;
  overflow-y: auto;
}

.Disc {
  display: flex;
  width: 70%;
  flex-direction: column;
  margin-left: 3%;
}

.CreateDisc {
  width: 100%;
  margin-bottom: 5%;
  min-height: 100px;
}

.discCont {
  display: flex;
  flex-direction: column;
}

.discTitle {
  margin-bottom: 1%;
}
.DiscussionList {
  width: 100%;
  height: 100vh;
}

.Msg {
  display: flex;
  width: 70%;
  flex-direction: column;
  margin-left: 3%;
}

.CreateMsg {
  width: 100%;
  margin-bottom: 5%;
  min-height: 100px;
}

.msgContenu {
  display: flex;
  flex-direction: column;
}
.discTitle {
  margin-bottom: 1%;
}
.MessageList {
  width: 100%;
  height: 100vh;
}
