body {
  background-color: pink;
  margin: 0;
}

.forum {
  display: flex;
  width: 100%;
}

.Disc {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 1%;
}

.CreateDisc {
  width: 110%;
  margin-bottom: 3%;
}

.discCont {
  display: flex;
  flex-direction: column;
}

.Msg {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 1%;
}

.CreateMsg {
  width: 110%;
  margin-bottom: 3%;
}

.msgContenu {
  display: flex;
  flex-direction: column;
  width: 100%;
}
