body {
    display: flex;
    flex-direction: column;
    background-color: pink;
    margin: 0;
    padding: 0;
}

.nav-panel {
    width: 100%;
    display: flex;
    flex: 0 0 auto; /* Allow the nav-panel to grow and shrink based on content */
    padding: 10px 20px;
    background-color: #f96398;
    box-sizing: border-box; /* Include padding in the width calculation */
}

.logo {
    flex: 1; /* Flexible width to fill available space */
    font-size: 18px; /* Adjust font size for your logo */
    font-weight: bold; /* Optional: Make the logo text bold */
}

.search-bar {
    flex: 1; /* Allow the search bar to grow and shrink */
    margin-right: 20px; /* Optional spacing between search and logout */
}

.search-bar input {
    width: 100%; /* Take up the full width of the search bar */
    padding: 5px; /* Adjust padding for input field */
    border: 1px solid #ccc; /* Border for the input field */
    border-radius: 3px; /* Rounded corners for the input field */
    font-size: 14px; /* Adjust font size for the search text */
}

.search-bar input::placeholder {
    text-align: left;
}

.logout-button button:hover {
    background-color: #ddd; 
}

.forum {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Information { 
    width: 20%;
    background-color: #f96398; /* Optional: Background color for Information */
    padding: 10px; /* Optional: Padding for Information */
}

.Msg {
    display: flex;
    width: 70%;
    flex-direction: column;
    margin-left: 3%;
}

.CreateMsg {
    width: 100%;
    margin-bottom: 5%;
    min-height: 100px;
}

.msgContenu {
    display: flex;
    flex-direction: column;
}

.discTitle {
    margin-bottom: 1%;
}

.MessageList {
    width: 100%;
    height: 100vh;
}
