body {
  background-color: pink;
  margin: 0;
}

.forum {
  display: flex;
  width: 100%;
}

.AdminForum {
  display: flex;
  width: 100%;
  background-color: darkgrey;
}

.pendingPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: darkgrey;
  height: 100vh;
}

.pendingTitle {
  margin-left: 40px;
  font-size: 30px;
}

.Disc {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 1%;
}

.AdminDiscussionPage {
  background-color: darkgrey;
}

.CreateDisc {
  width: 110%;
  margin-bottom: 3%;
}

.discCont {
  display: flex;
  flex-direction: column;
}

.Msg {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 1%;
}

.CreateMsg {
  width: 110%;
  margin-bottom: 3%;
}

.msgContenu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.DiscTitleDel {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.listItem {
  list-style-type: none;
  border: 1px solid #070101;
  background-color: #fc80ac;
  border-radius: 8px;
  padding: 10px 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.listItemAdmin {
  list-style-type: none;
  border: 1px solid #070101;
  background-color: rgb(69, 62, 62);
  border-radius: 8px;
  padding: 10px 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.linkUsername {
  margin-right: 10px;
}

.headerPending {
  display: flex;
  flex-direction: row;
  background-color: rgb(64, 63, 63);
}
