body {
    display: flex;
    flex-direction: column;
    background-color: pink;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.header {
    display: flex;
}

.NavPan {
    width: 100%;
    display: flex;
    grid-row: 1; /* Occupies first row (Top) */
    grid-column: 1 / span 3; /* Spans across both columns (Full width) */
    background-color: #f96398; /* Optional: Background color for NavPanel */
    padding: 10px; /* Optional: Padding for NavPanel */
}

.nav-panel {
    width: 100%;
    display: flex; /* Arrange elements horizontally */
    grid-row: 1; /* Occupies first row (Top) */
    grid-column: 1 / span 3; /* Spans across both columns (Full width) */
    justify-content: space-between; /* Space elements evenly */
    align-items: center; /* Align elements vertically in center */
    padding: 10px 20px; /* Optional padding for spacing */
    background-color: #f96398;; /* Optional background color */
    /* Add a border or shadow for visual separation (optional) */
    /* border: 1px solid #ddd; */
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); */
}
  
.logo {
    flex: 1; /* Flexible width to fill available space */
    font-size: 18px; /* Adjust font size for your logo */
    font-weight: bold; /* Optional: Make the logo text bold */
}
  
.search-bar {
    margin-right: 250px; /* Optional spacing between search and logout */

}
  
.search-bar input {
    padding: 5px 400px; /* Adjust padding for input field */
    border: 1px solid #ccc; /* Border for the input field */
    border-radius: 3px; /* Rounded corners for the input field */
    font-size: 14px; /* Adjust font size for the search text */
}
  
.logout-button button:hover {
    background-color: #ddd; 
}

.forum {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100hv;
    
}

.Information { 
    width: 20%;
    min-height: 100hv;
    background-color: #f96398; /* Optional: Background color for Information */
    padding: 10px; /* Optional: Padding for Information */
}

.Disc {
    display: flex;
    width: 70%;
    flex-direction: column;
    margin-left: 3%;
}

.CreateDisc {
    width: 60%;
    height: 100px;
    margin-bottom: 5%;
}

.discCont {
    display: flex;
    flex-direction: column;
}

.discTitle {
    margin-bottom: 1%;
}
  
.DiscussionList {
    width: 100%;
    min-height: 100hv;
}